@charset "UTF-8";

footer {
    background: var(--color-3);
    color: var(--color-4);
    text-align: center;
    padding: 1rem 2rem;
}

footer > p > a {
    color: var(--color-4);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--color-1);
}