@charset "UTF-8";

@media (max-width: 768px) {

    section{
        padding: 140px 1% 220px;
    }

    .nav-links {
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        background: var(--color-3);
        flex-direction: column;
        align-items: center;
        display: none;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.nav-active {
        height: 250px;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle .bar {
        width: 25px;
        height: 3px;
        
        margin: 4px 0;
        transition: all 0.3s ease;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .menu-toggle.nav-active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .menu-toggle.nav-active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.nav-active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }

    #home {
        flex-direction: column;
        background: linear-gradient(to left, #1a1a1a, #c2532a);
    }

    #home h2 {
        font-size: 2em;
        line-height: 2.5rem;
    }

    #home, #about p {
        font-size: 1.2rem;
    }

    .contacts {
        text-align: center;
    }

    #m-v-v .cards {
        flex-direction: column;
    }

    #m-v-v .card {
        flex: 1 1 100%; 
    }

    .content {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .image-container {
        width: 250px;
        height: 210px;
        margin-left: 50px;
    }

    .background-images {
        width: 250px;
        height: 150px;
    }

    .progress-bar-container {
        width: 30%;
    }

    .product-card {
        width: calc(100% - 10px);
    }

    .product-card h3 {
        font-size: 1.2em; 
    }

    .product-card p, .product-card .price {
        font-size: 0.9em; 
    }

    iframe {
        width: 380px;
    }
}